body,html {
    height: 100%;
    margin: 2em;

}

h1 {
     font-family: 'Inter';
     font-size: 3em;
     color: #F3F3F3;
     font-weight: bold;
     text-transform: uppercase;
     text-align: center;
 }

 h2 {
     font-family: 'Inter';
     font-size: 2em;
     color: #343434;
     font-weight: medium;
     text-transform: uppercase;
     text-align: center;
 }

 h3 {
     font-family: 'Inter';
     font-size: 1.5em;
     color: black;
     font-weight: medium;
     letter-spacing: 0.4em;
 }

 p {
     font-family: 'Source Sans 3';
     font-size: 1em;
     color: #343434;
     font-weight: 400;
 }

 q {
     font-family: 'Inter';
     font-size: 1.5em;
     color: black;
     font-weight: medium;
     letter-spacing: 0.4em;
 }



 a {
     font-family: 'Source Sans 3';
     font-size: 1.2em;
     color: #343434;
     font-weight: 400;
     text-decoration: none;
     margin-left: 1.25em;
 }

 a:hover {
     font-weight: bold;
 }

 form {
     font-family: 'Source Sans 3';
     font-size: 1em;
     color: #343434;
     font-weight: 400;
 }


 .navigation-top {
     display: flex;
     justify-content: end;
     align-items: center;
     margin-top: 2em;
     margin-bottom: 2em;
 }

 .navigation-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

 .active-seite {
    font-weight: bold;
 }

 .hero-image {
     background-image: url(Bilder\eberhard-grossgasteiger-iMnezp9R_dc-unsplash.jpg);
     background-color: aqua;
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     margin-bottom: 5em;
 }

 .hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
 }