body,html {
    height: 100%;
}

h1 {
    font-family: 'Inter';
    font-size: 3em;
    color: #F3F3F3;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Inter';
    font-size: 2em;
    color: #343434;
    font-weight: medium;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'Inter';
    font-size: 1.5em;
    color: black;
    font-weight: medium;
    letter-spacing: 0.4em;
}

p {
    font-family: 'Source Sans 3';
    font-size: 1em;
    color: #343434;
    font-weight: 400;
}

q {
    font-family: 'Inter';
    font-size: 1.5em;
    color: black;
    font-weight: medium;
    letter-spacing: 0.4em;
}


form {
    font-family: 'Source Sans 3';
    font-size: 1em;
    color: #343434;
    font-weight: 400;
}

/* NAVIGATION */

.navigation-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navigation-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.navigation-top>a {
    font-family: 'Source Sans 3';
    font-size: 1.2em;
    color: #343434;
    font-weight: 400;
    text-decoration: none;
    padding: 0 2em;
}

.navigation-top>a:hover {
    font-weight: bold;

}

.navigation-bottom>a {
    font-family: 'Source Sans 3';
    font-size: 1.2em;
    color: #343434;
    font-weight: 400;
    text-decoration: none;
    margin-left: 1.25em;
}

.navigation-bottom>a:hover {
    font-weight: bold;

}

.active-seite {
    font-weight: bold;
}


/* HERO IMAGE */

.hero-image {
    background-image: url(Bilder/eberhard-grossgasteiger-iMnezp9R_dc-unsplash.jpg);
    height: calc(110vh - 92px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 6em;
    width: 100%;

}

.hero-text {
    text-align: center;
    max-width:45%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text>p {
    color: #F3F3F3;

}

/* Meine letzten Abenteuer */

.bereich-touren{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    column-gap: 1.5em;
    min-height: 424px;


}

.touren-boxen{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    min-height: 424px;
    padding: 24px;
    margin-bottom: 3em;
    margin-top: 3em;


}

.touren-boxen > h3{
    color:white;
    font-size: 1.25em;
    text-align: right
}

.touren-boxen > p{
    color:white;
}

/* Zitat */

.zitat {
    background-image: url(Bilder/guillaume-briard-lSXpV8bDeMA-unsplash.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;

}

.zitat-text {
    text-align: center;
    max-width: 30%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.zitat-text > h2{
    color: white
}

.zitat-text> p {
    color: #F3F3F3;
}

